<div class="">
    <!----------- Footer ------------>
    <footer id="footer" class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>GALERIA</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quis quas commodi cupiditate sapiente, doloribus, itaque iste nulla corporis modi sit dicta aliquam sint voluptas.</p>
                <p>© 2021 Kayole, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
        
            	<div class="col-md-12">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Feedback</h4>
                <p>Leave us a feedback.</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="send feedback...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    <section class="text-center"><p class="text-white">Galeria &COPY;2021 </p></section>

</div>