{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}

<h3 class="text-white mb-5 mt-3">Gallery</h3>
<div class="container">

    
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-6 col-lg-3 col-12 col-sm-12">
            <div class="row m-1 mb-3">
                <div class="card  ">
                    <div class="card-header">
                        <h5>{{photo.name}}</h5>

                    </div>
                    <img  class="image-thumbnail img-fluid mt-3" src="{{photo.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Location: {{photo.location.name}}</p>
                      <p class="card-text">Category: {{photo.category.name}}</p>


                    </div>
                    <a href="{% url 'photo' photo.id %}"  class="btn btn-outline-dark btn-sm m-1">view more</a>
                  </div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <h2 class="text-center text-white">No photos</h2>
          </div>
        {% endfor%}
        
    </div>
</div>

{% endblock %}